@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar utilities */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Cursor utilities */
  .cursor-grab {
    cursor: grab;
  }
  .cursor-grabbing {
    cursor: grabbing;
  }
}

/* Base HTML styles */
html,
body,
#root {
  height: 100%;
  width: 100%;
}